{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block content %}

  <div class="row align-items-center justify-content-center">
    <div class="content-section col-md-10">

      <div class="panel-body">

        <div class="modal-body">

          <form action="" method="POST">
          {{ form.csrf_token }}

            <fieldset class="form-group">

              <legend class="border-bottom mb-4">

                {% if title %} {{ title }}
                {% else %} Título
                {% endif %}

                <button type="button" class="close" onclick="window.location.href = '{{ url_for('setor.acessar') }}';">
                &times;
                </button>
              </legend>

              <div class="content-section bg-light rounded-lg">
                {{ render_field(form.cod_empresa) }}
                {{ render_field(form.cod_diretoria) }}
                {{ render_field(form.cod_setor) }}
                {{ render_field(form.sigla) }}
                {{ render_field(form.nome) }}
              </div>

            </fieldset>

            <div class="modal-footer">
              <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock content %}
