{% extends "layout.html" %}
{% from "macros.html" import render_field %}
{% block content %}

  <form action="" method="POST">
  {{ form.csrf_token }}

    <div class="col s12 m5 offset-m3">

      <div class="card z-depth-4"">

        <div class="card-content grey darken-3 white-text">
          <span class="card-title">
            {% if title %} {{ title }}
            {% else %} Título
            {% endif %}
          </span>
        </div>

        <div class="card-content white dark-4">

          <div class="row">

            <div class="col s12 right-align">
              <a class="waves-effect waves-light btn white-text" href="{{ url_for('setor.acessar') }}" title="Voltar">
                <i class="material-icons cor-marrom">close</i>
              </a>
            </div>

          </div>

          <div>
            {{ render_field(form.cod_empresa) }}
            {{ render_field(form.cod_diretoria) }}
            {{ render_field(form.cod_setor) }}
            {{ render_field(form.sigla) }}
            {{ render_field(form.nome) }}
          </div>

          <div class="row">

            <div class="col s12 left-align">
              <a class="waves-effect waves-light btn white-text">
                <i class="material-icons left">send</i>{{ form.submit }}
              </a>
            </div>

          </div>
      </div>
    </div>
  </form>

{% endblock content %}
