{% extends "layout.html" %}
{% block content %}

<!-- fonte: https://material.io/resources/icons/?icon=add_box&style=outline -->
<!-- fonte: http://google.github.io/material-design-icons/ -->

	<div class="row">
	<div class="col s12">
  <div class="input-field">
    <select>
      <!-- <option value="" disabled selected>Choose your option</option> -->
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Materialize Select</label>
  </div>
  </div>
  </div>

	<div class="col s12">

		<!-- Título  -->
		<h4>
			{{ title }}
		</h4>

		<div class="row">

			<!-- Painel de Ordenação e Pesquisa -->
			<form action="{{ url_for('setor.acessar') }}" method="POST">
				{{ form.csrf_token }}



				<div class="col s4">
					<div class="card-panel grey lighten-5">
			      {{ form.ordenarpor.label }}
			      <div class="row">
			      	<div class="col s8">
					      {{ form.ordenarpor }}
					    </div>
			      	<div class="col s4">
					      {{ form.ordem }}
					    </div>
			      </div>
		    	</div>
		    </div>

		    <div class="col s4">
		    	<div class="card-panel grey lighten-5">
			      {{ form.pesquisarpor.label }}
					  {{ form.pesquisarpor }}
		      </div>
		   	</div>

		    <div class="col s4">
		    	<div class="card-panel grey lighten-5">
			      <a class="waves-effect waves-light btn white-text"><i class="material-icons left">send</i>{{ form.submit_enviar }}</a>
	      		<a class="waves-effect waves-light btn"><i class="material-icons left">clear_all</i>{{ form.submit_limpar }}</a>
		      </div>
		   	</div>

				<!-- Painel Paginação e Botões Imprimir e Novo -->
				<div>
					{% for page_num in dados.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
					  {% if page_num %}
					    {% if dados.page == page_num %}
					      <input class="btn btn-info my-2" name="page" type="submit" value={{ page_num }} />
					    {% else %}
					      <input class="btn btn-outline-info my-2" name="page" type="submit" value={{ page_num }} />
					    {% endif %}
					  {% else %}
					    ...
					  {% endif %}
					{% endfor %}

					<!-- Botão Imprimir -->
					<a href="{{ url_for('setor.imprimir') }}" class="btn btn-light btn-sm float-sm-right my-2" value="Imprimir" aria-label="Imprimir" aria-pressed="true" alt="Imprimir" title="Imprimir">
					  <i class="material-icons cor-marrom">print</i>
					</a>

					<!-- Botão Novo -->
					<a href="{{ url_for('setor.incluir') }}" class="btn btn-light btn-sm float-sm-right my-2 mx-2" aria-label="Incluir" aria-pressed="true" alt="Novo" title="Novo">
					  <i class="material-icons cor-verde">note_add</i>
					</a>

				</div>

			</form>

		</div>

		<!-- Tabela de Listagem dos Dados -->
		<div class="table-responsive">
			<table class="table table-sm bg-light table-bordered">

				<!-- Cabeçalho da Tabela -->
				<thead class="thead-dark">
					<tr>
						<th class="text-center" style="width: 30px">Seq</th>
						<th class="text-center" style="width: 200px">Sigla</th>
						<th class="text-center" style="width: 700px">Nome</th>
						<th class="text-center" style="width: 160px">Ação</th>
					</tr>
				</thead>

				<!-- Detalhe da Tabela -->
				<tbody>
					{% for dado in dados.items %}

						<tr>
							<td style="vertical-align:middle;">{{ dado.id }}</td>
							<td style="vertical-align:middle;">{{ dado.sigla }}</td>
							<td style="vertical-align:middle;">{{ dado.nome }}</td>
							<td class="text-center">

								<!-- Botão Alterar -->
								<a href="{{ url_for('setor.alterar', id_data=dado.id) }}" class="btn btn-light btn-sm" role="button" aria-label="Alterar" aria-pressed="true" title="Alterar">
								  <i class="material-icons cor-azul">create</i>
								</a>

								<!-- Botão Excluir -->
								<a href="#" class="btn btn-light btn-sm" role="button" aria-label="Excluir" aria-pressed="true" data-toggle="modal" title="Excluir" data-target="#excluirModal{{ dado.id }}">
								  <i class="material-icons cor-vermelho">delete</i>
								</a>

							</td>
						</tr>

	          <!-- Modal Excluir Dados -->
	          <div class="modal fade" id="excluirModal{{ dado.id }}">
	            <div class="modal-dialog modal-dialog-centered" role="document">
	              <div class="modal-content">

	                <div class="modal-header">
	                  <h5 class="modal-title" id="exampleModalLongTitle">Excluir Registro</h5>
	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                  </button>
	                </div>

	                <div class="modal-body">
	                  <p>Confirma a exclusão: {{ dado.sigla }}? </p>
	                </div>

	                <div class="modal-footer">
	                  <form action="{{ url_for('setor.excluir', id_data=dado.id) }}" method="POST">
	                  	{{ form.csrf_token }}
	                    <input type="submit" value="Sim" class="btn btn-outline-info">
	                  </form>
	                </div>

	              </div>
	            </div>
	          </div>
	          <!-- Fim Modal Excluir Dados -->

					{% endfor  %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock content %}
