{% extends "layout.html" %}
{% block content %}

<!-- fonte: https://material.io/resources/icons/?icon=add_box&style=outline -->
<!-- fonte: http://google.github.io/material-design-icons/ -->

	<div class="col s12">

		<!-- Título  -->
		<h4>
			{{ title }}
		</h4>

		<!-- Painel de Ordenação e Pesquisa -->
		<form action="{{ url_for('setor.acessarSetor') }}" method="POST">
			{{ form.csrf_token }}

			<div class="row">

				<div class="col s4">
					<div class="row">
						<div class="input-field col s8">
						  {{ form.ordenarpor }}
						  {{ form.ordenarpor.label }}
						</div>
				    <div class=" input-field col s4">
						  {{ form.ordem }}
						  {{ form.ordem.label }}
				    </div>
					</div>
		    </div>

		    <div class="input-field col s4">
					{{ form.pesquisarpor }}
					{{ form.pesquisarpor.label }}
		   	</div>

		    <div class=" input-field col s4 right-align">
					<a class="waves-effect waves-light btn white-text"><i class="material-icons left">send</i>{{ form.submit_enviar }}</a>
			    <a class="waves-effect waves-light btn"><i class="material-icons left">clear_all</i>{{ form.submit_limpar }}</a>
		   	</div>

	  	</div>


			<!-- Painel Paginação e Botões Imprimir e Novo -->
			<div class="row">

				<div class="col s6 left-align">
					{% for page_num in dados.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
					  {% if page_num %}
					    {% if dados.page == page_num %}
					      <input class="waves-effect waves-light btn" name="page" type="submit" value={{ page_num }} />
					    {% else %}
					      <input class="waves-effect waves-light btn teal lighten-4" name="page" type="submit" value={{ page_num }} />
					    {% endif %}
					  {% else %}
					    ...
					  {% endif %}
					{% endfor %}
				</div>

				<div class="col s6 right-align">
					<!-- Botão Imprimir -->
					<a href="{{ url_for('setor.imprimir') }}" class="btn btn-light btn-sm float-sm-right my-2" value="Imprimir" title="Imprimir">
					  <i class="material-icons cor-marrom">print</i>
					</a>

					<!-- Botão Novo -->
					<a href="{{ url_for('setor.incluir') }}" class="btn btn-light btn-sm float-sm-right my-2 mx-2" title="Novo">
					  <i class="material-icons cor-verde">note_add</i>
					</a>
				</div>

			</div>

		</form>

		<div class="divider"></div>

		<!-- Tabela de Listagem dos Dados -->
		<div class="responsive-table">
			<table class="table table-sm bg-light table-bordered">

				<!-- Cabeçalho da Tabela -->
				<thead class="thead-dark">
					<tr>
						<th class="text-center" style="width: 30px">Seq</th>
						<th class="text-center" style="width: 200px">Sigla</th>
						<th class="text-center" style="width: 600px">Nome</th>
						<th class="text-center center-align" style="width: 180px">Ação</th>
					</tr>
				</thead>

				<!-- Detalhe da Tabela -->
				<tbody>
					{% for dado in dados.items %}

						<tr>
							<td style="vertical-align:middle;">{{ dado.id }}</td>
							<td style="vertical-align:middle;">{{ dado.sigla }}</td>
							<td style="vertical-align:middle;">{{ dado.nome }}</td>
							<td class="text-center center-align">

								<!-- Botão Alterar -->
								<a href="{{ url_for('setor.alterar', id_data=dado.id) }}" class="btn btn-light btn-sm" role="button" aria-label="Alterar" aria-pressed="true" title="Alterar">
								  <i class="material-icons cor-azul">create</i>
								</a>

								<!-- Botão Excluir -->
								<a class="waves-effect waves-light btn modal-trigger" data-toggle="modal" href="#excluirModal{{ dado.id }}">
									<i class="material-icons cor-vermelho" style="vertical-align:middle;">delete</i>
								</a>

								<!-- Botão Grupos -->
								<a href="{{ url_for('setor.acessarUsuario', id_super=dado.id, nome_super=dado.sigla) }}" class="btn btn-ligth btn-sm" role="button" aria-label="Alterar" aria-pressed="true" title="Usuários" >
								  <i class="material-icons cor-roxa" style="vertical-align:middle;">group_add</i>
								</a>

							</td>
						</tr>

	          <!-- Modal Excluir Dados -->

					  <div id="excluirModal{{ dado.id }}" class="modal">
						<div class="modal-content left-align">
						  <h4>Excluir Registro</h4>
						  <p>Confirma a exclusão: {{ dado.sigla }}? </p>
						</div>
						<div class="modal-footer">
						  <a href="{{ url_for('setor.excluir', id_data=dado.id) }}" class="modal-close waves-effect waves-green btn-flat">Sim</a>
						  <a href="#!" class="modal-close waves-effect waves-green btn-flat">Não</a>
						</div>
					  </div>

	          <!-- Fim Modal Excluir Dados -->

					{% endfor  %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock content %}
