{% extends "layout.html" %}
{% from "macros.html" import render_field, render_select_field2, render_picture_field %}
{% block content %}

  <form action="" method="POST">
  {{ form.csrf_token }}

    <div class="col s12 m6 offset-m3">

      <div class="card z-depth-4">

        <div class="card-content grey darken-3 white-text">
          <span class="card-title">
            {% if title %} {{ title }}
            {% else %} Título
            {% endif %}
          </span>
        </div>

        <div class="card-content white dark-4">

          <div class="row">

            <div class="col s12 right-align">
              <a class="waves-effect waves-light btn white-text" href="{{ url_for('conta.acessar') }}" title="Voltar">
                <i class="material-icons cor-marrom">close</i>
              </a>
            </div>

          </div>

          <div class="row">
            <div class="col s4">
              {{ render_field(form.nomeusuario) }}
            </div>
            <div class="col s8">
              {{ render_field(form.email) }}
            </div>
            <div class="col s6">
              {{ render_field(form.senha) }}
            </div>
            <div class="col s6">
              {{ render_field(form.confirmasenha) }}
            </div>
          </div>

          <br><h4>Dados do Usuário da Conta</h4><br>

          <div class="row">
              <div class="col s7">
                {{ render_field(form.nomecompleto) }}
              </div>
              <div class="col s5">
                {{ render_field(form.nomeguerra) }}
              </div>
              <div class="col s6">
                {{ render_field(form.datanascimento) }}
              </div>
              <div class="col s6">
                {{ render_field(form.matricula) }}
              </div>
              <div class="col s4">
                {{ render_field(form.cpf) }}
              </div>
              <div class="col s8">
                {{ render_picture_field(form.foto) }}
              </div>
              <div class="col s12">
                {{ render_select_field2(form.setor_id) }}
              </div>
          </div>

          <div class="row">

            <div class="col s12 left-align">
              <a class="waves-effect waves-light btn white-text">
                <i class="material-icons left">send</i>{{ form.submit }}
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock content %}
