{% extends "layout.html" %}
{% block content %}

  <form action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

    <div class="col s12 m5 offset-m3">

      <div class="card z-depth-4">

        <div class="card-content grey darken-3 white-text">
          <span class="card-title">Conta</span>
        </div>

        <div class="card-content white dark-4">

          <div class="row valign-wrapper">
            <div class="col s4">
              <img src="{{ foto }}" alt="" class="circle responsive-img">
            </div>
            <div class="col s8">
              <span class="black-text">
                <h5 class="account-heading">{{ current_user.usuario }}</h5>
                <p class="text-secondary">{{ current_user.email }}</p>
              </span>
            </div>
          </div>

          <div class="input-field">
              {{ form.usuario.label }}
              {% if form.usuario.errors %}
                  {{ form.usuario(class="invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.usuario.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                  </div>
              {% else %}
                  {{ form.usuario }}
              {% endif %}
          </div>

          <div class="input-field">
              {{ form.email.label }}
              {% if form.email.errors %}
                  {{ form.email(class="invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                  </div>
              {% else %}
                  {{ form.email }}
              {% endif %}
          </div>

          <div class="form-group">
              {{ form.picture.label() }}
              {{ form.picture }}
              {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
              {% endif %}
          </div><br><br>

          <div class="input-field">
              {{ form.senha.label }}
              {% if form.senha.errors %}
                  {{ form.senha(class="invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.senha.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.senha }}
              {% endif %}
          </div>

          <div class="input-field">
              {{ form.confirm_senha.label }}
              {% if form.confirm_senha.errors %}
                  {{ form.confirm_senha(class="invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.confirm_senha.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.confirm_senha }}
              {% endif %}
          </div>

          <div class="form-group">
            {{ form.submit(class="waves-effect waves-light btn grey darken-1") }}
          </div>

        </div>
      </div>
    </div>
  </form>

{% endblock content %}
