{% extends "layout.html" %}
{% block content %}

  <form action="" method="POST">
    {{ form.hidden_tag() }}

    <div class="col s12 m5 offset-m3">

      <div class="card z-depth-4">

        <div class="card-content grey darken-3 white-text">
          <span class="card-title">Controle de Acesso</span>
        </div>

        <div class="card-content white dark-4">

          <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            {{ form.email.label }}
            {% if form.email.errors %}
                {{ form.email }}
                <div class="invalid">
                    {% for error in form.email.errors %}
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email }}
            {% endif %}
          </div>

          <div class="input-field">
            <i class="material-icons prefix">lock</i>
            {{ form.senha.label }}
            {% if form.senha.errors %}
                {{ form.senha }}
                <div class="invalid">
                    {% for error in form.senha.errors %}
                        <span style="color:red;">{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.senha }}
            {% endif %}
          </div>

          <div>
            <label style="color:gray; font-size:100%;">
              {{ form.remember }}
              <span>{{ form.remember.label }}</span>
            </label>
          </div><br>


          <div class="form-group">
            {{ form.submit(class="waves-effect waves-light btn grey darken-1") }}
            <span class="text-muted ml-2">
              Esqueceu sua senha? <a href="{{ url_for('auth.reset_senha') }}"><span style="color:gray; font-size:80%;">Acesse aqui</span></a>
            </span>
          </div>

        </div>
      </div>
    </div>
  </form>

{% endblock content %}
