{% extends "layout.html" %}
{% block content %}

  <form action="" method="POST" >
    {{ form.hidden_tag() }}

    <div class="col s12 m5 offset-m3">

      <div class="card z-depth-4">

        <div class="card-content grey darken-3 white-text">
          <span class="card-title">Registre-se aqui</span>
        </div>

        <div class="card-content white dark-4">

          <div class="input-field">
            {{ form.usuario.label }}
            {% if form.usuario.errors %}
              {{ form.usuario }}
              <div class="invalid">
                {% for error in form.usuario.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.usuario }}
            {% endif %}
          </div>

          <div class="input-field">
            {{ form.email.label }}
            {% if form.email.errors %}
              {{ form.email }}
              <div class="invalid">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
                {{ form.email }}
            {% endif %}
          </div>

          <div class="input-field">
            {{ form.senha.label }}
            {% if form.senha.errors %}
              {{ form.senha }}
              <div class="invalid">
                {% for error in form.senha.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.senha }}
            {% endif %}
          </div>

          <div class="input-field">
            {{ form.confirm_senha.label }}
            {% if form.confirm_senha.errors %}
                {{ form.confirm_senha }}
                <div class="invalid">
                  {% for error in form.confirm_senha.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.confirm_senha }}
            {% endif %}
          </div><br>

          <div class="form-group">
            {{ form.submit(class="waves-effect waves-light btn grey darken-1") }}
            <span class="text-muted ml-2">
              Já possue uma conta? <a href="{{ url_for('auth.login') }}"><span style="color:gray; font-size:80%;">Acesse aqui</span></a>
            </span>
          </div>

        </div>
      </div>
    </div>
  </form>

{% endblock content %}
